@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
/* font-family: "Outfit", sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  width: fit-content;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.container img {
  width: 18rem;
  border-radius: 10px;
  margin: 1rem;
}

.text-container {
  width: 20rem;
  text-align: center;
  padding: 0 2rem 1rem 2rem;
}

.text-container h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: hsl(218, 44%, 22%);
}

.text-container p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  margin: 1rem 0 1.5rem 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: hsl(218, 44%, 22%);
  margin-bottom: 1rem;
}

.attribution {
  font-size: 16px;
}

.attribution a {
  text-decoration: none;
  color: orangered;
}

@media only screen and (max-width: 600px) {
  footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
  }
}
